// Typography
$font-size-xs: 0.75rem; //12px
$font-size-sm: 0.875rem; // 14px - Secondary body text, Buttons, Form labels
$font-size-base: 1rem; // 16px - Body text
$font-size-lg: 1.125rem; //18px - Used in Profile Card in Employee personal information

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;