@font-face {
    font-family: "Roboto Thin";
    src: url('../../fonts/Roboto-Thin.ttf') format('TrueType');
}

@font-face {
    font-family: "Roboto Regular";
    src: url('../../fonts/Roboto-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: "Roboto Medium";
    src: url('../../fonts/Roboto-Medium.ttf') format('TrueType');
}

@font-face {
    font-family: "Roboto Bold";
    src: url('../../fonts/Roboto-Bold.ttf') format('TrueType');
}

.text-bold {
    font-weight: $font-weight-bold;
}