.btn {
    width: 15rem;
    height: 5rem;
}

.btn-get-started {
    margin-left: 70px;
}

.btn-resources {
    align-self: center;
}

.btn-search {
    align-self: flex-end;
    font-weight: $font-weight-semibold;
}