.btn {
    position: relative;
    width: 15rem;
    height: 5rem;
    z-index: 20;
}

.btn-get-started {
    margin-left: 70px;
}

.btn-get-started--footer {
    @media (max-width: 768px) {
        left: 0px;
    }
}

.btn-resources {
    align-self: center;
}

.btn-search {
    align-self: flex-end;
    font-weight: $font-weight-semibold;
}

.shadow-wrapper {
    position: relative;
}

.shadow {
    position: absolute;
    width: 15rem;
    height: 5rem;
    z-index: 1;
    background-color: $primary;
    border: 1px solid $secondary;
    border-radius: 4px;
    top: 8px;
    right: 6px;

    &-white {
        background-color: $white;
    }

    &--footer {
        @media (max-width: 768px) {
            left: -6px;
        }
    }
}