.btn-get-started {
    margin-left: 70px;
    width: 15rem;
    height: 5rem;
}

.btn-platform {
    height: 5rem;
}

.btn-resources {
    height: 5rem;
    width: 15rem;
    align-self: center;
}

.btn-subscribe {
    height: 5rem;
    width: 15rem;
}