.card {
    padding: 10px 20px;
}

.feature__card {
    padding: 4rem 3rem;

    &-title {
        font-weight: $font-weight-bold;
        padding-bottom: 1rem;
    }

    &-description {
        font-weight: $font-weight-medium;
    }
}

.achievement-card {
    display: flex;
    flex-direction: column;
    border-top: 0px;
    border-right: 0px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: $secondary;
    padding: 2rem 2rem;

    &__count {
        font-size: ($font-size-lg * 2);
        font-weight: $font-weight-bold;
    }

    &__title {
        font-weight: $font-weight-medium;
    }

    &__wrapper {
        flex-direction: column;

        @media (max-width: 768px) {
            flex-direction: row;
        }
    }
}

.countries__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    border: 1px solid $secondary;

    &-img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;

        @media (max-width: 768px) {
            height: 12rem;
            width: 12rem;
        }
    }

    @media (max-width: 768px) {
        width: 80%;
    }
}

.resource__card {
    border: 1px solid $secondary;
    padding: 1rem;

    &-img {
        padding-bottom: 1rem;
    }

    &-title {
        font-size: 2rem;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
    }

    &-icon-wrapper {
        background-color: $primary;
        border-radius: 50%;
        padding: 0.6rem 1rem;
        text-align: center;
    }
}