.form {
    &-title {
        font-size: 2rem;
        font-weight: $font-weight-normal;
    }

    &-label {
        padding-bottom: 1rem;
    }


    &-select {
        width: 100%;
        height: 5rem;
        background-color: $secondary;
        color: $white;
        border-color: gray;
    }
}