.header {
    padding: 1rem 6rem;
    position: relative;
}

.header>.navbar {
    @media (max-width: 992px) {
        display: none !important;
    }
}

.mobile-nav {
    width: 100%;

    &__icon {
        width: 4rem;
        height: 4rem;

        &-wrapper {
            padding-left: 6rem;
        }
    }

    &__brand {
        flex-grow: 1;
        justify-content: center;
    }

    @media (max-width: 992px) {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
}

.brand-logo {
    height: 4rem;
}

.nav-link {
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
}

.mobile-navigation {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: -150rem;
    transition: 1s ease-in all;
    z-index: 1000;

    @media (max-width: 900px) {
        display: flex;
        flex-grow: 1;
    }
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    display: block;
    cursor: pointer;
}

.navigation__checkbox:checked~.mobile-navigation {
    left: 0rem;
}