.wrapper {
    min-width: 120rem;
}

.intro-section {
    padding: 1rem 6rem;
    background-image: url('./assets/img/plane.png');
    background-size: cover;
    height: 60rem;
}

.intro {
    max-width: 60rem;

    &__title {
        font-size: 9rem;
    }

    &__description {
        font-size: 2rem;
        text-align: start;
    }
}

.logistic-solution-section {
    padding: 1rem 6rem;
    position: relative;
}

.product-form__wrapper {
    position: absolute;
    top: -10rem;
    padding: 3rem;
}

.features {
    padding-bottom: 10rem;
}

.solutions-intro {
    padding-top: 17rem;
    padding-bottom: 5rem;

    &__title {
        width: 50rem;
        font-size: 4rem;
    }

    &__description {
        width: 47rem;
        font-size: 2rem;
        text-align: start;
    }
}

.platform-section {
    padding: 1rem 6rem;
    padding-bottom: 8rem;
}

.platform__heading {
    width: 35rem;
}

.resource-section {
    padding: 1rem 6rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__intro {
        padding-bottom: 2rem;
    }

    &__title {
        width: 40rem;
        font-size: 4rem;
    }

    &__description {
        width: 36rem;
        text-align: start;
    }
}

.resources {
    padding-bottom: 5rem;
}

.intro-video__stats-wrapper {
    border: 1px solid $secondary;
    position: absolute;
    padding: 1rem;
    top: 0.5rem;
    right: 4.2rem;
    text-align: center;
    width: 24rem;
}

.plus-sign {
    font-size: 3rem;
    padding-top: 1rem;
}

.intro-video-section {
    position: relative;
}

.intro-video {
    &__heading {
        width: 40rem;
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    &__player {
        height: 60rem;
        padding-bottom: 10rem;
    }

    &__stats {
        background-color: $primary;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &-count {
            font-size: 7rem;
            font-weight: $font-weight-medium;
        }

        &-description {
            text-align: center;
        }
    }
}

.achievements {
    padding-bottom: 5rem;

    &__heading {
        font-size: 4rem;
        width: 52rem;
        text-align: center;
    }

    &__img {
        margin: 0 15rem;
        height: 35rem;
        width: 50rem;
    }
}